.wrap {
    position: fixed;
    top: 40%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.ldsRipple {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 200px;

    div {
        position: absolute;
        border: 10px solid #CEF;
        border-radius: 50%;
        opacity: 1;
        animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    }

    div:nth-child(2) {
        animation-delay: -0.5s;
    }
}
@keyframes lds-ripple {
    0% {
        top: 90px;
        left: 90px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: 0;
        left: 0;
        width: 180px;
        height: 180px;
        opacity: 0;
    }
}